body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(184, 240, 184);
}
#calculator{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(239, 146, 216);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: pink;
    color:blueviolet;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: deeppink;
    color:aliceblue;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: lightpink;
}
button:active{
    background-color: rgb(251, 169, 181);
}
.operator-btn{
    background-color:lightskyblue;
}
.operator-btn:hover{
    background-color:rgb(106, 180, 225);
}
.operator-btn:active{
    background-color:rgb(84, 175, 231);
}